/* colour palette */
:root {
  --primary: #45503B;
  --secondary: #E0D7DD;
  --tertiary: #DBD9DB;
  --light: #FAFAFA;
  --dark: #333;
}

body {
  background-color: var(--secondary);
  color: var(--dark);
}

/* nav bar */
nav {
  background-color: var(--primary);
}

nav li a {
  text-decoration: none;
  color: var(--light);
  display: block;
  text-align: center;
  padding: 1rem 0;
}

a:hover {
  color: var(--primary);
  background-color: var(--secondary);
  transition: all .5s;
}

/* intro section */

#intro {
  margin-top: 4rem;
}

h1 {
  margin-left: 4rem;
  font-size: 4rem;
  color: #FAFAFA;
}

.content {
  position: relative;
}

.background-image {
  background-image: url("hero-banner.jpg");
}

.image-left-banner {
  margin: 4rem;
  display: flex;
  justify-content: center;
  height: 50vh;
}

#about {
  background-color: var(--light);
}

.text-content {
  margin: 4rem;
}
