/* colour palette */
:root {
  --primary: #45503B;
  --secondary: #E0D7DD;
  --tertiary: #DBD9DB;
  --light: #FAFAFA;
  --dark: #333;
}

/* fonts */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


body {
  background-color: var(--secondary);
  color: var(--dark);
  font-family: "Roboto", sans-serif;
}

/* nav bar */
nav {
  background-color: var(--primary);
}

nav li a {
  color: var(--light);
}

a:hover {
  color: var(--primary);
  background-color: var(--secondary);
  transition: all .5s;
}

h1 {
  color: var(--light);
  font-size: 5rem !important;
}

h2 {
  color: var(--light);
}

.background-image {
  background-image: url("hero-banner.jpg");
}

#about {
  background-color: var(--light);
}
